@import './variables.less';
@import './typography.less';

@import './blocks/b-header.less';
@import './blocks/b-nav.less';
@import './blocks/b-footer.less';
@import './blocks/b-popup.less';
@import './blocks/b-list.less';

.distant{
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
	-webkit-filter: blur(10px);
}


html, body {
  height: 100%;
}

.b-page {
  min-height: 100%;
  margin-bottom: -@footer-full-height; 
}

.b-page:after {
  content: '';
  display: block;
  height: @footer-full-height; 
}