@import './variables.less';
@import './typography.less';

@import './blocks/b-button.less';
@import './blocks/b-icon.less';

@import './blocks/b-header.less';
@import './blocks/b-nav.less';
@import './blocks/b-footer.less';
@import './blocks/b-popup.less';
@import './blocks/b-list.less';
@import './blocks/b-fliplist.less';

.distant{
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
	-webkit-filter: blur(10px);
}


html, body {
  height: 100%;
}

.b-page {
  min-height: 100%;
  margin-bottom: -@footer-full-height; 
}

.b-page:after {
  content: '';
  display: block;
  height: @footer-full-height; 
}

.b-abstract-block {
	margin-bottom: 15px;
}

.b-warning {
	border: solid 2px #FF7A00;
	background: #FFD68A;
	font-weight: bold;
}

.b-button-container {
	margin-bottom: 10px;
}


.no-margin {
	margin: 0 !important;
}

.b-color-table {
	td {
		padding: 10px 15px;
	}
}

.b-input {
	&:focus {
		border-color: @primary;
	}
}

.b-responsive {
	max-width: 100%;
}
