.position(@x, @y) {
    top: @y;
    left: @x;
}

.transition(@property, @time, @function) {
    // -webkit-transition: @property @time @function;
    // -moz-transition: @property @time @function;
    // -o-transition: @property @time @function;
    transition: @property @time @function;
}
