@import './variables.less';

h1 {
	font-size: @h1size;
	margin: @h1margin;
}

h2 {
	font-size: @h2size;
	margin: @h2margin;
}

h3 {
	font-size: @h3size;
}

h4 {
	font-size: @h4size;
}

h5 {
	font-size: @h5size;
}

h6 {
	font-size: @h6size;
}
