@color: red;

/*
 * Typography */
@h1size: 26px;
@h1margin: 15px 0;

@h2size: 22px;
@h2margin: 10px 0;

@h3size: 18px;
@h4size: 16px;

@h5size: 14px;
@h6size: 12px;


@primary: #00b6f1;
@dark: #333333;

/*
 * Constants */
@footer-margin: 10px;
@footer-height: 80px;
@footer-full-height: @footer-margin + @footer-height;