@import '../mixins.less';
@import '../variables.less';

.is-sticky {
	.b-nav,
	.b-nav__list,
	.b-nav__item {
		z-index: 10;
	}
}

.sticky-wrapper {
	margin-bottom: 10px;
}

.b-nav{
	margin-bottom: 10px;
	background: @dark;

	&_xs-header {
		text-align: center;
		position: relative;
		padding: 8px 10px;
		color: white;
	}

	&__list {
		background: @dark;
		display: table;
		width: 100%;
	}

	&__dropdown {
		padding: 8px;
		border: solid 1px white;
		border-radius: 5px;
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 2px;
		transition: transform 0.3s 0.05s;

		&_up {
			transform: rotate(180deg)
		}
	}


	&__item {
		display: table-cell;
		padding: 14px 10px;
		text-align: center;
		color: white;

		.b-link {
			&:hover {
				text-decoration: none;
							border-botttom: solid 2px @primary;	
			}
			transition: border 0.3s 0.05s;
			padding: 5px 8px;
			border: solid 2px @dark;
		}

		&:hover .b-link{
			border: solid 2px @primary;
			border-top-color: @dark;
			border-left-color: @dark;
			border-right-color: @dark;
		}
	}

	.b-list__item_acitve .b-link{
		border: solid 2px @primary;
		// background: #4CC1ED
	}

	.b-link {
		color: white;
	}
}

.xs {
	.b-nav {
		position: relative;
	
		&__list {
			position: absolute;
			z-index: 10;
			display: none;
			left: 0;
		}

		&__item {
			display: block;
		}

		.b-list__item_acitve{ 
			display: none;
		}
	}

}

.sm .b-nav__list, .md .b-nav__list, .lg .b-nav__list {
	display: table !important;
}
